.VacationDetail a {
  color:rgb(131, 177, 161);
  font-weight: bold;
  font-size: 1em;
 }

.VacationDetail .card h3 {
  color: #5676b3;
  margin-bottom: 5px;
  font-size: 1.3em;
}

.VacationDetail .card .left {
  width: 65%;
  display: inline-block;
}

.VacationDetail .card .right {
  width: 30%;
  display: inline-block;
}

.VacationDetail .vacationers {
  margin-top: 20px;
}

.VacationDetail .vacationers li {
  margin: 5px 0;
}

.VacationDetail .vacationers li p {
  display: inline-block;
}

.VacationDetail .vacationers li .remove {
  margin-left: 10px;
  cursor: pointer;
  color: #ca3e13;
}