.App {
  /* text-align: center; */
}
h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #272727;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: #83b1a1;
  box-shadow: inset 3px -3px 6px #6f9689,
              inset -3px 3px 6px #97ccb9;
}

button:active {
  box-shadow: inset -3px 3px 6px #6f9689,
              inset 3px -3px 6px #97ccb9;
}

button:disabled {
  color: white;
  background: #a2aaa7;
  box-shadow: inset 3px -3px 6px #959998,
              inset -3px 3px 6px #d9e0de;
}

form input {
  padding: 3px;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
}

ul li {
  list-style-type: none;
}

.main {
  padding: 50px 20px;
}

.grid {
  display: grid;
  grid-template-columns: 25% 75%;
}
.content {
  padding: 30px 10px 20px 30px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
